button{
    border-color: green;
    border-style: dotted;
    cursor: alias;
    color: rgb(255, 0, 0);
    width: 85px;
    font-size: 30px;
    border-radius: 15px;
}
button:hover{
    background-color: rgb(255, 0, 204);
}
body{
     background-color: dodgerblue;
}
h1{
    color: red;
    text-decoration: underline;
}
.logo{
    width: 400px;
	margin-top: 30px;
	border-radius: 230px;
    border-color: orange;
    border-style: solid;
} 